<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profesor</title>
</head>
<body>
<div class = "container">
	<h1> Introdu datele </h1>
	<br>
	<h2> Nume </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'nume'>


</div>
<br>
<h2> Preume </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'prenume'>


</div>
<br>
<h2> Varsta </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'varsta'>


</div>
<br>
<h2> WFH Setup? </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'wfh'>


</div>
<br>
<h2> Burn Rate? </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'br'>


</div>
<br>
<h2> Gen? </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'gen'>


</div>
<br>
<h2> Mental Fatigue Score </h2>
	<form action = "/form" method = "POST">
		<div class = "form-group">
			<input type = "text" class = "form-control" id="inputname" 
			aria-describedby = "nume" name = 'mfs'>


</div>
<br>
<button type = "submit" class="btn btn-secondary">Enter</button>
</form> </div>
</body>
</html>